.offs-main {
    margin-top: 30px;
  }
  .offs-title {
    font-size: 2rem;
  }
  .add-offs-form {
      margin-top: 30px;
      background-color: var(--white);
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      padding: 20px;
      border-radius: 20px;
  }
  .add-offs-form-wrap {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px 15px;
  }
  .add-offs-form-group {
      display: flex;
      align-items: center;
      column-gap: 10px;
      width: 100%;
      background-color: #f4f4f4;
      padding: 0 020px;
      border-radius: 10px;
  }
  .add-offs-input {
      outline: none;
      border: none;
      background-color: unset;
      padding: 8px 10px;
      font-size: 1.1rem;
      width: 100%;
  }
  .add-offs-submit {
      background-color: var(--blue);
      color: var(--white);
      margin-top: 10px;
      padding: 12px 20px;
      font-size: 1.1rem;
      border-radius: 10px;
  }
  