.product-table-tr{
    padding-left: 300px;
    padding-right: 40px;
}

.edit-proructs-form-group {
    margin-top: 15px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    width: 100%;
    background-color: #f4f4f4;
    padding: 0 20px;
    border-radius: 10px;
}

.edit-product-input {
    outline: none;
    border: none;
    background-color: unset;
    font-size: 1.1rem;
    width: 100%;
    padding: 8px 10px;
}

.edit-proructs-form-group p {
    padding: 0 2px;
    font-size: 0.8rem;
}

/* Finish Edit Modal Childs Style */